.bg-dark {
  background-color: #002249 !important;
}

.flexRowCenter {
  display: flex;
  align-items: center;
  height: 100%;
}

.flex {
  display: flex;
}

body {
  background-color: #e6e6e6;
}

.bareToolbar {
  height: 56px;
}
