.bg-dark {
  background-color: #002249 !important;
}

.flexRowCenter {
  display: flex;
  align-items: center;
  height: 100%;
}

.flex {
  display: flex;
}

body {
  background-color: #e6e6e6;
}

.bareToolbar {
  height: 56px;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.clampedContainer {
  margin: 20px;
  max-width: 350px;
  width: 100%;
}
.clampedCards {
  margin: 20px;
  max-width: 800px;
  width: 100%;
}

:root {
  --bs-primary: #002249 !important;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
}

.btn-google {
  color: #545454;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 1px #ddd;
}

/* .crispLink {
  color: #002249;
} */

.accentMark {
  height: 5px;
  width: 60px;
}

.toolbarSpacer {
  height: 56px;
}
